:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(218, 20%, 24%);
    --dark-grayish-blue: hsl(220, 22%, 16%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--dark-grayish-blue);
    font-family: 'Manrope';
}

@media only screen and (max-width: 375px){
    .advice-box {
        width: 90% !important;
    }

    .divider-desktop {
        visibility: hidden;
    }

    .divider-mobile {
        visibility: visible;
    }
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advice-box {
    width: 50%;
    min-width: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--grayish-blue);
    transition: ease all 0.3s;
}

.advice-tag {
    padding: 20px 0px;
    font-size: 4px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--neon-green);
}

.advice-text-container {
    padding-bottom: 20px;
    text-align: center;
    width: 66%;
    font-size: 14px;
    color: var(--light-cyan);
}

.divider-desktop {
    width: 66%;
    visibility: visible;
}

.divider-mobile {
    visibility: hidden;
}

.button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.3s ease all;
    border-radius: 50%;
    background: var(--neon-green);
}

.button:hover{
    -webkit-box-shadow: 0px 0px 20px 0px var(--neon-green);
    box-shadow: 0px 0px 20px 0px var(--neon-green);
}

.attribution {
    font-size: 8px;
    color: var(--light-cyan)
}
